blockquote {
  padding-left: 20px;
  margin-left: 0;
  margin-right: 0;
  background: #ddd;
  border-left: 5px solid #ccc;
  border-radius: 0 3px 3px 0;
}

blockquote p {
  padding: .5em;
  color: #272822;
}

p {
  display: block;
  -webkit-margin-before: 0.9em;
  -webkit-margin-after: 0.9em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

pre {
  font-size: 90%;
  line-height: 1.2;
}

ul {
  padding: 0 0 0 40px;
  font-weight: 200;
  line-height: 1.6;
}

.progress {
  z-index: 1000;
}

.progress-bar {
  height: 5px;
}

img {
  width: 100%
}

#slide-1 img {
  width: auto;
}

body, .slide {
  background-color: #eee;
}

.slide-content {
  margin-top: 20px;
  width: auto;
  max-width: 900px;
  height: auto;
  overflow: auto;
  z-index: 1;
}

.arrow {
  position: fixed;
  bottom: 70px;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.3;
  transform: scale(0.8);
}

@media (max-width: 850px) {
  .arrow {
    opacity: 0.2;
    bottom: 60px;
    transform: scale(0.7);
  }
}

@media (max-width: 480px) {
  .arrow {
    opacity: 0.1;
    bottom: 52px;
    transform: scale(0.56);
  }
}

.prev {
  left: 0;
  border: none;
}

.prev:before {
  float: left;
  content: url(img/left.png);
}

.next {
  right: 0;
  border: none;
}

.next:before {
  float: right;
  content: url(img/right.png);
}